/* <!-- http://www.dummies.com/how-to/content/using-the-div-tag-to-create-tables.html */

/**

    General stylistic TODO's:
    1. Test tweaked insets in common.css in other forms once master is fixed
    2. Improve styling for step 2 form -- see some initial attempts below
    3. Experiment with nested table / alternate row coloring type styles to help differentiate
       sub-sections of step 2 that apple to different meta-data types. Don't make it too complex!
    4. Center the radio buttons in their columns
*/
.bulk-line-table
{
    display: table;
    width: auto;
    margin-right: auto;
}
.title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.step2_table_heading {
    display: table-row;
}

.step2_table_heading, .step2_table_heading label {
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

.step3_table_heading {
    display: table-row;
}

.step3_table_heading, .step3_table_heading label{
    text-decoration: underline;
    text-align: left;
}

.step2_table_heading div, .step3_table_heading div {
    vertical-align: bottom;
}

.step3_subsection {
    margin-top: 25px;
}

.step3_subsection, .step3_subsection label {
    font-size: 110%;
    font-weight: bold;
    text-decoration: underline;
}

.property_radio {
    margin: auto;
}
.table-row {
    display: table-row;
}

#indicator {
    height: 100px;
    width: 100px;
    background: brown;
}

.bulk_lines_table_cell {
    display: table-cell;
    /*border: solid;
    border-width: thin; */
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

/* TODO: unused! fix and use! */
.odd_row {
    background: linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
    background: -o-linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
    background: -moz-linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
}

/* TODO: unused! fix and use! */
.even_row {
    background: linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
    background: -o-linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
    background: -moz-linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
}

#step1_list,#step2_sample_position_list{
    padding-top: 8px;
    list-style-type: none;
}

#step1_list li,#step2_sample_position_list li {
    padding-bottom: 8px;
}

.centered_radio_btn_parent {
    text-align: center;
}

/* */
input[type="radio"] {
    margin: auto;
}

#name_ordering_table, #name_customization_table, #abbreviations-table {
    /* margin-left: 10px; */
    margin-top: 25px;
    min-width: 50px;
    vertical-align: text-top;
}

#dialog-confirm {
    display: none;
}

.in-use {
    font-weight: bold;
}

.not-in-use {
    font-weight: 300;
}

.name_elt_cell {
    vertical-align: top;
}

.name_elt_cell ul {
    flex-grow: 1;
}

.inputCell {
    display: table-cell;
    width: auto;
    min-width: 210px;  /* prevents cells from resizing when new rows are added */
}

.inputCell input, .inputCell button{
    margin-left: 5px;
}

.inputContent {
    display: flex;
    margin: 0;
    padding: 0;
}

.columnar-text-input {
    flex-grow: 1;
}

.columnar-text-input span {
    display: inline-block;
}

#line_name_elts, #unused_line_name_elts, #line-name-abbrev-list {
    vertical-align: text-top;
    min-height: 100px;
    min-width: 124px;
    list-style-type: none;
    border: 1px solid #eee;
}

#line_name_elts li, #unused_line_name_elts li, #line-name-abbrev-list li {
    height: 100%;
}

#line_name_elts li, #unused_line_name_elts li, #line-name-abbrev-list li {
    margin: 0 5px 5px 5px;
    padding: 5px;
}
#line_name_elts li span, #unused_line_name_elts li span {
    float: right;
    margin-left: 1.3em;
}

#line-name-abbrev-list .ui-selecting { background: #FECA40; }
#line-name-abbrev-list .ui-selected { background: #F39814; color: white; }

.addButton {
    margin-left: 5px;
    width: 20px;
    padding: 0;
}

.addCell {
    padding: 0px;
    width: 25px;  /* prevent table from jumping when a combinatorial property with this button is added */
}

.removeButton {
    /*float: right;*/
}

.controlRemoveBtn {

}

div.sectionContent {
    padding-bottom: 30px;
}