/* <!-- http://www.dummies.com/how-to/content/using-the-div-tag-to-create-tables.html */

/**

    General stylistic TODO's:
    1. Test tweaked insets in common.css in other forms once master is fixed
    2. Improve styling for step 2 form -- see some initial attempts below
    3. Experiment with nested table / alternate row coloring type styles to help differentiate
       sub-sections of step 2 that apple to different meta-data types. Don't make it too complex!
    4. Center the radio buttons in their columns
*/
.step2-table
{
    display: table;
}
.title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.step2_table_heading {
    display: table-row;
    /* font-weight: bold; */
    text-decoration:underline;
    font-weight: bold;
    text-align: left;
}

.step2_table_heading div {
    vertical-align: bottom;
}

.subsection {
    text-decoration: underline;
}

.property_radio {
    margin: auto;
}
.table-row {
    display: table-row;
}

#indicator {
    height: 100px;
    width: 100px;
    background: brown;
}

.step2_table_cell {
    display: table-cell;
    /*border: solid;
    border-width: thin; */
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.step2_table_heading label {
    text-decoration: underline; /* TODO: doesn't work */
}

/* TODO: unused! fix and use! */
.odd_row {
    background: linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
    background: -o-linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
    background: -moz-linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(183,253,25,0.5) 100%, rgba(200,200,200,0.1) 100%);
}

/* TODO: unused! fix and use! */
.even_row {
    background: linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
    background: -o-linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
    background: -moz-linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(200,200,200,0.5) 0%, rgba(200,200,200,0.1) 100%);
}

#step1_list,#step2_sample_position_list{
    padding-top: 8px;
    list-style-type: none;
}

#step1_list li,#step2_sample_position_list li {
    padding-bottom: 8px;
}

.centered_radio_btn_parent {
    text-align: center;
}

/* */
input[type="radio"] {
    margin: auto;
}

#name_ordering_table,#name_customization_table {
    /* margin-left: 10px; */
    margin-top: 25px;
    min-width: 50px;
    vertical-align: text-top;
}

#dialog-confirm {
    display: none;
}

#name_ordering_table {
}

#name_customization_table {

}

.in-use {
    font-weight: bold;
}

.not-in-use {
    font-weight: 300;
}

.name_elt_cell {
    vertical-align: top;
}

.name_elt_cell ul {
    flex-grow: 1;
}

.inputCell {
    display: flex;
    width: 100%;
}

.inputCell input{
    margin-left: 5px;
}

.inputCell button {
    margin-left: 5px;
}

.step2-text-input {
    flex-grow: 1;
}

.step2-text-input span {
    display: inline-block;
}


.meta_type_input {
    flex-grow: 1;
}

.meta_value_input {
    flex-grow: 1;
}

#line_name_elts, #unused_line_name_elts {
    vertical-align: text-top;
    min-height: 100px;
    list-style-type: none;
    border: 1px solid #eee;
  }

#line_name_elts li, #unused_line_name_elts li {
    height: 100%;
}

#line_name_elts li, #unused_line_name_elts li {
    margin: 0 5px 5px 5px;
    padding: 5px;
}
#line_name_elts li span, #unused_line_name_elts li span {
    float: right;
    margin-left: 1.3em;
}

.addButton {
    margin-left: 5px;
}