.container {
    background-color: #fff;
}

H3 {
    padding-bottom: 20px;
}

.table tbody th {
    font-weight: normal;
}

/* Overriding bootstrap classes here  */
.btn :focus {
  background-color: white;
  border-color:   #23527c
}

.btn-step1 {
    color: #23527c;
    margin-right: 10px;
}

.disclose {
    padding-left: 50px;
}

.btn-step1:focus {
  background-color: #fff;
  border: 1px solid #23527c;
}

.btn-step1:active {
    background-color: #fff;
    border: 1px solid #23527c;
}

.headers {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.1;
}

.uploadHeader {
  font-size: 17px;
}

.exampleFile {
    padding-left: 50px;
}

.step-wrapper {
    padding: 20px 0;
    display: none;
}

.step-indicator {
    border-collapse: separate;
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-top: 20px;
}

.greyButton {
    color: lightgrey;
    border-color: lightgrey;
}

.selectedButton {
    color: #23527c;
    border-color: #23527c;
}

.step-indicator > li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;
}

.off {
    display: none;
}

.border-box {
    border: 0.3px solid #23527c;
    padding: 23px;
    margin: 17px;
}

.step-indicator > li:after {
    background-color: beige;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;

}

.step {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid beige;
    color: beige;
    font-size: 12px;
    height: 64px;
    margin: 0 auto;
    position: relative;
    width: 64px;
    z-index: 1;
}

