.container {
    background-color: #fff;
}

H3 {
    padding-bottom: 20px;
}

.table tbody th {
    font-weight: normal;
}

.unMatched {
    color: grey;
}

.transpose {
    padding-left: 14px;
}

.fileFormat {
    padding-top: 10px;
}

#submitForImport {
    background-color: rgb(35, 82, 124);
    border-color: rgb(35, 82, 124);
    color: white;
    margin: 8px 0px;
    min-width: 140px;
    padding: 6px 12px;
    float: right;
}

#importingAssays {
    font-weight: bold;
    padding-top: 22px;
}

#writemoder {
    margin-left: 50px;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.disable-btn {
      pointer-events: none; /* Disables the button completely. Better than just cursor: default; */
      opacity: 0.7;
}
/* Overriding bootstrap classes here  */
.btn :focus {
  background-color: white;
  border-color:   #23527c
}

.btn-step1 {
    color: #23527c;
    margin-right: 10px;
}

.discloseFile {
    padding-left: 50px;
}

.btn-step1:focus {
  background-color: #fff;
  border: 1px solid #23527c;
}

.btn-step1:active {
    background-color: #fff;
    border: 1px solid #23527c;
}

.headers {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.1;
}

.uploadHeader {
  font-size: 17px;
}

.exampleFile {
    padding-left: 50px;
}

.step-wrapper {
    padding: 20px 0;
    display: none;
}

.step-indicator {
    border-collapse: separate;
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-top: 20px;
}

.greyButton {
    color: lightgrey;
    border-color: lightgrey;
}

.selectedButton {
    color: #23527c;
    border-color: #23527c;
}

.step-indicator > li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;
}

.off {
    display: none;
}

.border-box {
    border: 0.3px solid #23527c;
    padding: 23px;
    margin: 17px;
}

.step-indicator > li:after {
    background-color: beige;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;

}

.step {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid beige;
    color: beige;
    font-size: 12px;
    height: 64px;
    margin: 0 auto;
    position: relative;
    width: 64px;
    z-index: 1;
}

