{% extends "main/study.html" %}
{% load staticfiles %}

{% block js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/create_lines_bulk.css' %}" />
    <script type="text/javascript" src="{% static 'dist/CreateLines.js' %}"></script>
    {{ block.super }}
{% endblock js_css %}

{% block body_title %}
    <h1>Bulk Line Creation for <a href="/study/{{ study.id }}">{{ study.name }}</a></h1>
{% endblock body_title %}
{% block content %}
<div id="add-prop-dialog" title="Add Line Property">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        Choose line properties to add:</p>
    <input id="add-line-metadata-text" type="text" eddautocompletetype="LineMetadataType"/>
    <input id="add-line-metadata-value" type="hidden"/>
</div>
<div id="add-abbrev-dialog" title="Add Abbreviation">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        Choose line name elements to add abbreviations for:</p>
    <ul id="line-name-abbrev-list"></ul>
    <div id="no-abbrev-options-div" class="off">No more items available</div>
</div>
    <!-- Step 1 -->
    <div class="pageSection stepBorder" id="select_input_source_step">
        <div class="sectionHead">Step 1: Choose the source(s) for line definitions</div>
            <div class="sectionContent">
                <ul id="step1_list">
                    <li>
                        <input type="radio" name="input_source" id="manual_input_btn"
                       class="property_radio" checked="checked" />
                <label for="manual_input_btn">Manual input only (see Step 2)</label>
                    </li>
                    <li>
                        <input type="radio" name="input_source" id="spreadsheet_btn"
                       class="property_radio" disabled="disabled"/>
                <label for="spreadsheet_btn">Spreadsheet</label>
                    </li>
                    <li>
                         <input type="radio" name="input_source" id="ice_collection_btn"
                                class="property_radio" disabled="disabled"/>
                <label for="ice_collection_btn" >ICE collection</label>
                        <input type="text" name="ice_collection" class="autocomplete" disabled="disabled">
                    </li>
                </ul>
            </div>
    </div>
    <!-- Step 2 (Dynamic) -->
    <div class="pageSection stepBorder" id="select_line_properties_step_dynamic">
        <div class="sectionHead">Step 2: Choose line properties relevant to your experiment</div>
        <div class="sectionContent">
            <div id="step2_status_div"></div>
            <div class="bulk-line-table" id="line-properties-table">
                <div class="step2_table_heading">
                    <div class="bulk_lines_table_cell" class="addCell"><!-- empty for add button--></div>
                    <div class="bulk_lines_table_cell">
                        <label for="addPropertyButton">Property</label>
                        <button id="addPropertyButton" class="addButton"><span class="ui-icon ui-icon-plusthick"></span></button>
                    </div>
                    <div class="bulk_lines_table_cell"><!--empty for value input--></div>
                    <div class="bulk_lines_table_cell">
                        <label>Apply to<br> All Lines</label>
                    </div>
                    <div class="bulk_lines_table_cell">
                        <label>Make <br>Combinations</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step 3 -->
    <div class="pageSection stepBorder" id="choose_line_names_step">
        <div class="sectionHead">Step 3: Choose the order of identifying data in line names</div>
        <div class="sectionContent">
            <div>
                <div class="step3_subsection">
                    <label>Custom Name Elements:</label>
                <button name="add_custom_label" class="addButton">
                    <span class="ui-icon ui-icon-plusthick"></span></button>
                </div>
            <div id="no-custom-elts-div">None</div>
            <div id="custom-elements-table" class="bulk-line-table off">
                <div class="step3_table_heading">
                    <div class="bulk_lines_table_cell"><label>Label</label></div>
                    <div class="bulk_lines_table_cell"><label>Value</label></div>
                </div>
            </div>
        </div>
        </div>
        <div class="sectionContent stepSeparator">
            <div class="step3_subsection">
                <label for="name_ordering_table">Name Element Order:</label>
            </div>
            <div class="bulk-line-table" id="name_ordering_table">
                <div class="step3_table_heading">
                    <div class="bulk_lines_table_cell"><label>Order:</label></div>
                    <div class="bulk_lines_table_cell"><label>Unused Elements:</label></div>
                </div>
                <div class="table-row">
                    <!-- Line Name Elements List -->
                    <div class="bulk_lines_table_cell name_elt_cell">
                        <div>
                            <ul id="line_name_elts" class="connectedSortable"></ul>
                        </div>
                    </div>
                    <!-- Unused Elements List -->
                    <div class="bulk_lines_table_cell name_elt_cell">
                        <div>
                            <ul id="unused_line_name_elts" class="connectedSortable"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sectionContent stepSeparator">
                <div class="step3_subsection"><label>Abbreviations:</label><button
                        id="addAbbreviationButton" class="addButton">
                            <span class="ui-icon ui-icon-plusthick"></span></button></div>
                <div id="no-abbrevs-div">None</div>
                <div id="abbreviations-table" class="bulk-line-table off">

                    <div class="step3_table_heading">
                        <div class="bulk_lines_table_cell"><!-- empty for add button--></div>
                        <div
                                class="bulk_lines_table_cell"><label>Name Element
                        </label></div>
                        <div class="bulk_lines_table_cell"><label>Value</label></div>
                        <div class="bulk_lines_table_cell">
                            <label>Abbreviation</label>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="pageSection stepBorder" id="review_step">
            <div id="step4Label" class="sectionHead">Step 4: Review line creation summary</div>
            <div class="sectionContent">
                <div id="step4-status-div"></div>
                <div id="indicator"></div>
                <textarea id="jsonTest"/>
                <textarea id="backEndResponse"/>
                <div class="bulk-line-table">
                    <div class="table-row">
                        <div class="bulk_lines_table_cell"><label>Total lines to be created</label></div>
                        <div class="bulk_lines_table_cell"><label>24</label></div>
                    </div>
                    <div class="table-row">
                        <div class="bulk_lines_table_cell"><label>Other important stats (e.g. # variations /
                            metadata type)</label></div>
                        <div class="bulk_lines_table_cell"><label>TBD</label></div>
                    </div>
                    <div class="table-row">
                        <div class="bulk_lines_table_cell"><label>Sample Line Names</label></div>
                        <div class="bulk_lines_table_cell"><label>Blah</label></div>
                    </div>
                </div>
                <input type="hidden" id="jsonoutput" name="jsonoutput" />
                <input type="hidden" name="studyID" value="{{ study.id }}"/>
                <button disabled="disabled">Create 24 Lines...</button>
                <button disabled="disabled">Create Spreadsheet</button>
                <button disabled="disabled">Save As Template</button>
                </div>
    </div>
{% endblock content %}