{% extends "main/study.html" %}
{% load staticfiles %}

{% block js_css %}
  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'main/import2.css' %}" />
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">
    <script src="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.js"></script>
    <script type="text/javascript" src="{% static 'dist/Import2.js' %}"></script>
{% endblock js_css %}

{% block head_title %}
  {% if selection.studies|length == 1 %}
    Data Import For {{ selection.studies.0.name }}
  {% else %}
    Data Import For {{ selection.studies|length }} Studies
  {% endif %}
{% endblock head_title %}

{% block body_title %}
  Data Import For
   <a href="{% url 'main:detail' slug=study.slug %}">{{ study.name }}</a>
{% endblock body_title %}
<!-- Step 1 -->

{% block content %}
    <form method="post" id="assayTableForm" action="{% url 'main:table-import' slug=study.slug %}">
        {% csrf_token %}
        <div id="app">
        <div>
            <form-wizard @on-complete="onComplete"
                         @on-loading="setLoading"
                         @on-validate="handleValidation"
                         shape="tab"
                         color="#23527c"
                         title=""
                         subtitle="">
              <tab-content title="Types of Data"
                           :before-change="validateAsync"
                           icon="ti-user">
                      <h3>What Category of Data do you have?</h3>
                          {% for protocol in protocols %}
                          <button class="categories btn btn-default" v-on:click.prevent="selectCategory"
                                  value="{{ protocol.id }}"> {{ protocol.name }} </button>
                          {% endfor %}

                <div id="protocols" hidden>
                    <h3>What Protocol did you use?</h3>
                    <p v-if="selectedCategory === ' Targeted Proteomics '">
                        <button class="btn btn-default"  v-for="item in proteomics"
                                v-on:click.prevent="selectProtocol">
                           ${ item.name }
                        </button>
                    </p>
                    <p v-else-if="selectedCategory === ' HPLC '">
                        <button class="btn btn-default" v-for="item in metabolomics"
                                v-on:click.prevent="selectProtocol">
                            ${ item.name }
                        </button>
                    </p>
                </div>
                    <div id="fileFormat" hidden>
                      <h3>File format</h3>
                        <input type="checkbox"> General
                    </div>
              </tab-content>
              <tab-content title="Upload File"
                           icon="ti-settings">
                      <h3>Upload file</h3>
                      <div> <span>${ selectedProtocol }</span>
                            <span>Examples</span>
                            <span>Download Example</span>
                      </div>
                      <div id="importDropZone2">
                          <textarea style="width:100%" class="fd-zone" rows="16" id="step2textarea2"
                            name="step2textarea2"></textarea>
                      </div>
                     <my-dropzone @clicked-show-detail="clickedShowDetailModal" :current-mode="mode">
                     </my-dropzone>
                      <div>
                          <table class="dataTableDiv">
                              <thead>
                                  <th v-for="item in headers">
                                    ${ item }
                                  </th>
                              </thead>
                              <tbody>
                                <tr v-for="row in importedData">
                                    <th v-for="string in row"> ${string} </th>
                                </tr>
                              </tbody>
                              </table>
                      </div>
              </tab-content>
              <tab-content title="Resolve"
                           icon="ti-check">
                     <h3>Data to Import</h3>
              </tab-content>
                <tab-content title="Inspect"
                           icon="ti-check">
                      <h3>Graph of data</h3>
              </tab-content>
                <tab-content title="Import"
                           icon="ti-check">
                      <h3>Ready to import</h3>
              </tab-content>

              <div class="loader" v-if="loadingWizard"></div>
            </form-wizard>
         </div>
        </div>
</form>
{% endblock content %}