{% extends "main/study.html" %}
{% load staticfiles %}

{% block js_css %}
  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'main/import2.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">
    <script type="text/javascript" src="{% static 'dist/Import2.js' %}"></script>
{% endblock js_css %}

{% block head_title %}
  {% if selection.studies|length == 1 %}
    Data Import For {{ selection.studies.0.name }}
  {% else %}
    Data Import For {{ selection.studies|length }} Studies
  {% endif %}
{% endblock head_title %}

{% block body_title %}
  Data Import For
   <a href="{% url 'main:detail' slug=study.slug %}">{{ study.name }}</a>
{% endblock body_title %}
<!-- Step 1 -->

{% block content %}
    <form method="post" id="assayTableForm" action="{% url 'main:table-import' slug=study.slug %}">
        {% csrf_token %}
        <div id="app">
        <div>
            <form-wizard @on-complete="onComplete"
                         @on-loading="setLoading"
                         @on-validate="handleValidation"
                         shape="tab"
                         color="#23527c"
                         title=""
                         subtitle="">
              <tab-content title="Types of Data"
                           :before-change="validateAsync"
                           icon="ti-user">
                <div class="border-box">
                    <div class="headers" >What Category of Data do you have?</div>
                    <button class="btn btn-default btn-step1"  v-for="category in importOptions.categories"
                       v-on:click.prevent="selectCategory">
                        ${ category.name }
                    </button>
                    <p>Don't see your category?<a href="mailto:jbei-help@lbl.gov?subject=EDD">
                     Contact support</a></p>
                </div>
                <div class="border-box off" id="protocols">
                    <div class="headers">What Protocol did you use?</div>

                    <button class="btn btn-default btn-step1" v-for="protocol in protocols"
                            v-on:click.prevent="selectProtocol">
                        ${ protocol.name }
                    </button>
                   <p>Don't see your protocol?<a href="mailto:jbei-help@lbl
                   .gov?subject=EDD">Contact support</a></p>
                </div>
                    <div id="fileFormat" class="border-box off">
                      <span class="headers">File format</span>
                      <ul v-for="format in formats">
                          <p>
                            <input type="checkbox" v-if="formats.length === 1" checked
                                   v-on:change.prevent="selectFormats">
                            <input type="checkbox" v-else v-on:change.prevent="selectFormats">
                          ${ format.name }
                               <span class="exampleFile"  v-if="format.name == 'Generic Import File'
                            || format.name == 'Cufflinks file'">
                                <a href="{% static 'GC-MS_example.xlsx' %}">Example File</a>
                            </span>
                          <span class="exampleFile" v-if="format.name == 'Biolector XML File'">
                                <a href="{% static 'Biolector.xml' %}">Example File</a>
                            </span>
                            <span class="exampleFile" v-if="format.name== 'Skyline'">
                                 <a href="{% static 'skyline_example.csv' %}">Example File</a>
                                <span class="disclose discloseHide">
                                  <span><a class="discloseLink" href="#">Example</a></span>
                                  <div class="discloseBody off" id="skylinelayoutexample">
                                        <p>Use this format for data coming out of Skyline analysis of mass spec data. This import
                                            expects data to come in four columns, with a sample name in the first
                                            column, a protein name in the second (represented by its accession ID found on
                                            <a href="http://www.uniprot.org/uniprot/">UniProt</a>
                                            ), a peptide in the third column, and a numeric value for peak area in the fourth.
                                            Here is an example of a <a href="{% static 'skyline_example.csv' %}">Skyline Data File </a>
                                            that has been successfully imported.</p>
                                        <img class="exampleImage" src="{% static 'main/images/data_examples/skyline_example_a.png' %}" />
                                  </div><!-- .discloseBody -->
                                </span><!-- .disclose -->
                          </p>
                      </ul>
                    </div>
              </tab-content>
              <tab-content title="Upload File"
                           icon="ti-settings">
                        {# Sucess Alert #}
                        <div id="fileUploaded" class="alert alert-success alert-dismissible"
                             role="alert" hidden>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                      <h3>${ selectedProtocol }</h3>
                      <div id="importDropZone2">
                          <textarea style="width:100%" class="fd-zone" rows="16" id="step2textarea2"
                            name="step2textarea2"></textarea>
                      </div>
                     <my-dropzone @clicked-show-detail="clickedShowDetailModal" :current-mode="mode">
                     </my-dropzone>
              </tab-content>
              <tab-content title="Resolve"
                           icon="ti-check">
                      <p>Help EDD resolve inputs from your file</p>
                      <div class="flex-container">
                          <div class="flex-item">
                            <p> this is where the default unmatched items will go</p>
                              <div v-for="(input, i) in requiredInputs" class="border-box">
                                  <p>Default ${input.type} </p>
                                   <input v-model="requiredInputs[i].default">
                                  ${input.default}
                              </div>
                          </div>
                          <div class="flex-item">
                            <table class="table table-striped">
                                <thead>
                                    <th v-for="(item, i) in headers">
                                         <select v-if="i != 0">
                                            <option>${item}</option>
                                            <option v-for="(input, index) in requiredInputs"
                                                    :value="input.id">${ input.type}</option>
                                         </select>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr v-for="(row, i) in importedData">
                                        <td>
                                        <input type="checkbox" name="check"/>
                                        </td>
                                        <td v-for="(string, j) in row">
                                            <input v-if="yes" name="headers[j]"
                                                   v-model="importedData[i][j]">
                                            <span v-if="!yes">${string}</span>
                                            <input type="hidden" value="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                      </div>
              </tab-content>
                <tab-content title="Inspect"
                           icon="ti-check">
                      <h3>Graph of data</h3>
              </tab-content>
                <tab-content title="Import"
                           icon="ti-check">
                      <h3>Ready to import</h3>
              </tab-content>

              <div class="loader" v-if="loadingWizard"></div>
            </form-wizard>
         </div>
        </div>
</form>
{% endblock content %}
